<main>
    <form method="POST" class="cat-form">
        <h2>Add Dog</h2>
        <label for="name">Name</label>
        <input name="name" type="text" id="name">
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
        <label for="image">ImageUrl</label>
        <input type="text" id="image" name="imageUrl">
        <label for="group">Breed</label>
        <select name="breed" id="group">
            {{#each dogBreeds}}
             <option value="{{type}}">{{breed}}</option>
            {{/each}}
        </select>
        <button type="submit">Add Dog</button>
    </form>
</main>