
    <main>
        <section class="cats">
            <ul>
                {{#each cats}}
                {{>catTemplate}}
                {{/each}}
            </ul>
        </section>
        <section class="cats">
            <ul>
                {{#each dogs}}
                {{>dogTemplate}}
                {{/each}}
            </ul>
        </section>
    </main>
